<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- <compilation xdt:Transform="RemoveAttributes(debug)" /> -->
  </system.web>
  <connectionStrings>
    <add name="documentStoreAdmin" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;password=Password12!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="environment" value="dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>