<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AmazonRegion" value="eu-west-1"/>
    <add key="AmazonAccessKey" value=""/>
    <add key="AmazonSecretKey" value=""/>

    <!-- disable backups for now -->
    <add key="DatabaseName" value="RealTimeWeb"/>
    <add key="DatabaseInstanceClass" value="db.m1.small"/>
    <add key="DatabaseBackupRetentionPeriod" value="0"/>
    <add key="DatabaseMasterUsername" value="RealTimeWebAdmin"/>
    <add key="DatabaseMasterPassword" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>